.underline-animation {
  position: relative;
  display: inline-block;
  padding-top: 5px;
  transition: color 0.3s ease;
}

.underline-animation::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: currentColor;
  transition: width 0.3s ease;
}

.group:hover .underline-animation::after,
.group:focus-within .underline-animation::after {
  width: 100%;
}

.group:hover .underline-animation,
.group:focus-within .underline-animation {
  color: #6b6b6b;
}
